/*@media screen and (max-width:2000px) {
    .MainImage{
        top:-1vh;

    }
    .navbar{
        margin-top: 11px;
        margin-left: 700px;
    }

    .box-logo{
        margin-left: 300px;
    }
    }*/