* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.box-logo {
    background-color: orange;
    width: 205px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}

.logo {
    font-size: 25px;
    font-weight: 900;
    color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: 400px;
    padding-bottom: 5px;
}

.navbar a {
    font-size: 16px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
    position: relative;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 215%;
    left: 0;
    width: 0;
    height: 4px;
    background: orange;
    transition: width 0.3s ease, top 0.3s ease;
}

.navbar a:hover::before {
    width: 100%;
}

.navbar a.active::before {
    width: 100%; 
    top: 215%; 
}

.navbar a.active {
    color: orange;
}

.nav-icon {
    height: 15px;
    width: 15px;
    margin-left: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.nav-icon:hover {
    color: orange;
}

.home {
    position: relative;
    height: 7vh;
    width: 100%;
}

.MainImage {
    position: relative;
    max-width: 100%; 
    padding: 20px; 
    margin: 0 auto; 
    height: 90vh; 
    margin-top: 0px; 
}

.MainImage img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.imagetext {
    position: absolute; 
    top: 50%;
    left: 20%; 
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    /*background: rgba(0, 0, 0, 0.5); Valorar si lo dejamos*/
}
.imagetext h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: orange;
    margin-bottom: -1px;
}

.imagetext p {
    font-size: 20px;
    margin-bottom: 20px;
}

.imagetext h1 {
    font-size: 80px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-bottom: 25px;
}

.imagetext button {
    padding: 20px 30px;
    background-color: orange;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.imagetext button:hover {
    background-color: #fff; 
    color: orange; 
}

/*Elementos del carousel*/

.body-carousel {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; 
}

.container-carousel {
    position: relative;
    width: 500px;
    height: 300px;
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
  
}

.carruseles {
    width: 600%;
    height: 100%;
    display: flex;

}

.slider-section {
    width: calc(100% / 6);
    height: 100%;
    position: relative;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.carousel-text {
    position: absolute;
    bottom: 10%; /* Ajusta la posición vertical */
    left: 10%; /* Ajusta la posición horizontal */
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombras para visibilidad */
    font-size: 1.2rem; /* Tamaño del texto */
    font-family: Arial, sans-serif; /* Fuente */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 10px;
    border-radius: 8px;
    /*Animacion al pasar el mouse*/
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}


.slider-section:hover .carousel-text {
    opacity: 1;
    transform: translateY(0);
}

#h1-carousel {
    font-size: 80px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-bottom: 25px;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}