* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 0 20px;
    
}

.box-logo {
    background-color: orange;
    width: 205px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}

.logo {
    font-size: 25px;
    font-weight: 900;
    color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: 400px;
    padding-bottom: 5px;
}

.navbar a {
    font-size: 16px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
    position: relative;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 215%;
    left: 0;
    width: 0;
    height: 4px;
    background: orange;
    transition: width 0.3s ease, top 0.3s ease;
}

.navbar a:hover::before {
    width: 100%;
}

.navbar a.active::before {
    width: 100%; 
    top: 215%; 
}

.navbar a.active {
    color: orange;
}

.nav-icon {
    height: 15px;
    width: 15px;
    margin-left: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.nav-icon:hover {
    color: orange;
}

.home {
    position: relative;
    height: 7vh;
    width: 100%;
}

.MainImage {
    position: relative;
    max-width: 100%; 
    padding: 20px; 
    margin: 0 auto; 
    height: 90vh; 
    margin-top: 0px; 
}

.MainImage img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.imagetext {
    position: absolute; 
    top: 50%;
    left: 20%; 
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    /*background: rgba(0, 0, 0, 0.5); Valorar si lo dejamos*/
}
.imagetext h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(254, 254, 254);
    margin-bottom: -1px;
}

.imagetext p {
    font-size: 20px;
    margin-bottom: 20px;
}

.imagetext h1 {
    font-size: 80px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-bottom: 25px;
}

.imagetext button {
    padding: 20px 30px;
    background-color: orange;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.imagetext button:hover {
    background-color: #fff; 
    color: orange; 
}


/*carrosuel*/

.card-wrapper{
    max-width: 1500px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item{
    list-style: none;
}

.card-list .card-item .card-link{
    user-select: none;
    display: block;
    background-color: #cfd1da;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.05);
    transition: 0.2 ease;
}

.card-list .card-item .card-link:active{
    cursor: grabbing;
}


.card-list .card-item .card-link:hover{
    transform: translateY(-10px);
}

.card-list .card-link .card-image{
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    object-fit: cover;
}

.card-list .card-link .bagde{
color: #5372F0;
background: #dde4ff;
padding: 8px 16px;
font-size: 0.95rem;
margin: 16px 0 18px;
width: fit-content;
border-radius: 50px;
}

.card-list .card-link .card-title{
    font-size: 1.20rem;
    color: black;
    font-weight: 600;
}

.card-list .card-link .card-button{
height: 35px;
width: 35px;
color:#5372F0;
border-radius:  50%;
margin: 30px 0 5px;
background: none;
cursor: pointer;
border: 2px solid #5372F0;
transform: rotate(-45deg);
}

.card-list .card-link:hover .card-button{
    color: #ffff;
    background: #5372F0 ;
}

.card-wrapper .swiper-pagination-bullet{
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: black;
}

.card-wrapper .swiper-pagination-bullet-active{
    opacity: 1;
}

.card-wrapper .swiper-slide-button{
    color: black;
    margin-top: 35px;
}

@media screen and (max-width: 768){
    .card-wrapper{
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button{
        display: none;
    }
}

