* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.box-logo {
    background-color: orange;
    width: 205px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 370px;
}

.logo {
    font-size: 25px;
    font-weight: 900;
    color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: 400px;
    padding-bottom: 10px;
}

.navbar a {
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: orange;
    transition: width 0.3s ease;
}

.navbar a:hover::before {
    width: 100%;
}

.nav-icon {
    height: 25px;
    width: 25px;
    margin-left: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}



.home {
    position: relative;
    height: 7vh;
    width: 100%;
}

.MainImage {
    max-width: 95%; 
    padding: 20px; 
    margin: 0 auto; 
    height: 80vh; 
    margin-top: -20px; 
}

.MainImage img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}




