/* Contact Form*/

#contacts {
    max-width: 800px;
    margin: 20px auto; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contacts h2 {
    text-align:left;
    color: #333;
    font-size: 25px;
    margin-bottom: 1em;
    font-weight: bold;
}

#contactForm {
    display:flexbox;
    flex-direction:column;
    gap: 1em;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9em;
    background-color: #fff;
    margin-bottom: 10px;
}

#contactForm textarea {
    resize: horizontal;
    min-height: 100px;
}

#contactForm button[type="submit"] {
    padding: 12px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contactForm button[type="submit"]:hover {
    background-color: orange;
}