.form_container {
  position: fixed;
  max-width: 300px;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgb(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}

.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  border: 2.5px solid orange;
}

.form_container h2 {
  font-size: 22px;
  color: #3f3f3f;
  text-align: center;
  margin-bottom: 40px;

  font-weight: 700;
  line-height: 1.11;
  font-family: Prompt, sans-serif;
}

.input_box {
  position: relative;
  margin-top: 3px;
  width: 100%;
  height: 40px;
}

.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaa;

  font-weight: 400;
  line-height: 1.11;
  font-family: Prompt, sans-serif;
}

.input_box input:focus {
  border-color: #f67f2b;
}

.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #707070;
}

.input_box i.email,
.input_box i.password {
  left: 10px;
}

.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: #f67f2b;
}

.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}

.input_box i.fa-regular.fa-eye-slash {
  margin-right: 0px;
}

.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_container a {
  color: #f67f2b;
  font-size: 12px;

  font-weight: 300;
  font-family: Prompt, sans-serif;
}

.form_container a:hover {
  text-decoration: underline;
}

.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}

.checkbox input {
  accent-color: #f67f2b;
}

.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;

  font-weight: 400;
  line-height: 1.11;
  font-family: Prompt, sans-serif;
}

.form_container .button {
  background-color: #f67f2b;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;

  font-weight: 600;
  font-family: Prompt, sans-serif;
}

.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  column-gap: 5px;

  font-weight: 400;
  font-family: Prompt, sans-serif;
}

.input_box + .input_box {
  margin-top: 20px;
}

.input_box:first-child {
  margin-top: 20px;
}

.input_box input:focus ~ i.fa-envelope,
.input_box input:focus ~ i.fa-lock {
  color: #f67f2b;
}

.input_box i {
  transition: color 0.2s ease;
}

.input_box input:focus ~ i.fa-eye-slash {
  color: #f67f2b;
}

.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  opacity: 0.7;
  cursor: pointer;
}

.form {
  display: none;
}

.form.active {
  display: block;
}
