@media screen and (max-width:991px) {
    .MainImage{
        top:-1vh;

    }
    .navbar{
        margin-top: 11px;
        margin-left: 700px;
    }

    .box-logo{
        margin-left: 300px;
    }
    }



    @media(max-width:991px) {
        .Gallery {
            padding: 30px;
            grid-template-columns: repeat(1, 1fr);
        }
        .Event:nth-child(1) {
            grid-column-start: span 1;
        }
        .Event:nth-child(4) {
            grid-column-start: span 1;
        }

    }

    @media screen and (max-width: 768px) {
  .container.swiper {
    margin: 0 10px 25px;
  }

  .swiper-slide-button {
    display: none;
  }

  .image-list .image-item .carousel-image {
    height: 250px; 
  }
}