@import "/styles/login.css";
@import "/styles/mediaqueries.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.header {
  position: sticky;
  height: 80px;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 0 20px;
  transition: top 0.3s ease-in-out; /* Animación suave */
}

.box-logo {
  background-color: orange;
  width: 205px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
}

.logo {
  font-size: 25px;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  cursor: auto;
}

.navbar {
  display: flex;
  align-items: center;
  margin-left: 400px;
  padding-bottom: 5px;
}

.navbar a {
  font-size: 16px;
  color: black;
  font-weight: 500;
  text-decoration: none;
  margin-left: 20px;
  position: relative;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 170%;
  left: 0;
  width: 0;
  height: 4px;
  background: orange;
  transition: width 0.3s ease, top 0.3s ease;
}

.navbar a:hover::before {
  width: 100%;
}

.navbar a.active::before {
  width: 100%;
  top: 170%;
}

.navbar a.active {
  color: orange;
}

.nav-icon {
  height: 15px;
  width: 15px;
  margin-left: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.nav-icon:hover {
  color: orange;
}

/*Imagen and login*/

.home {
  position: relative;
  height: 7vh;
  width: 100%;
}

.MainImage {
  position: relative;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
  height: 90vh;
  margin-top: -80px;
}

.MainImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagetext {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  /*background: rgba(0, 0, 0, 0.5); Valorar si lo dejamos*/
}
.imagetext h3 {
  font-size: 30px;
  margin-bottom: 10px;
  color: rgb(254, 254, 254);
  margin-bottom: -1px;
}

.imagetext p {
  font-size: 20px;
  margin-bottom: 20px;
}

.imagetext h1 {
  font-size: 80px;
  margin-bottom: 10px;
  font-weight: 700;
  margin-bottom: 25px;
}

.imagetext button {
  padding: 20px 30px;
  background-color: orange;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s ease, color 0.3s ease;
}

.imagetext button:hover {
  background-color: #fff;
  color: orange;
}

.tittle-container {
  padding: 20px;
  text-align: center;
}

.title-seccion {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: black;
  font-weight: bolder;
  margin-top: 70px;
}

.tittle-container p {
  margin-top: 25px;
  margin-bottom: 25px;
}

.orange-line-wrapper {
  margin-top: 30px;
}

.orange-line {
  height: 6px;
  width: 50px;
  background-color: orange;
  margin: -3px auto;
  margin-bottom: 20px;
}

/* Gallery */
.Gallery {
  padding: 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  grid-gap: 20px;
  position: relative;
}

.Event {
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  /* Aseguramos que el tamaño del contenedor sea adecuado */
  width: 100%;
  height: 100%;
}

.Event img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.Event h3 {
  position: absolute;
  bottom: 60px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 100%;
  cursor: pointer;
  z-index: 2;
}

.Event .overlay {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.Event .box-galery {
  padding: 10px 20px;
  background-color: orange;
  color: white;
  position: absolute;
  left: 0;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.5s ease;
  transform: translateX(-100%);
  z-index: 3;
  width: 200px;
  /*align-items: center;
    justify-content: center; REVISAR SI ALINEAMOS TEXTO*/
}

.Event:hover .box-galery {
  transform: translateX(0);
}

.Event .box-galery p {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.Event .box-galery h3 {
  margin: 0;
  font-size: 25px;
  font-weight: 900;
}

.Event .location {
  position: absolute;
  bottom: 0;
  left: 20px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  z-index: 3;
}

.Event:nth-child(1) {
  grid-column: span 2;
}

.Event:nth-child(4) {
  grid-column: span 2;
}

/*carrosuel*/

.card-wrapper {
  max-width: 1500px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}

.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  user-select: none;
  display: block;
  background-color: #cfd1da;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.05);
  transition: 0.2 ease;
}

.card-list .card-item .card-link:active {
  cursor: grabbing;
}

.card-list .card-item .card-link:hover {
  transform: translateY(-10px);
}

.card-list .card-link .card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  object-fit: cover;
}

.card-list .card-link .bagde {
  color: #5372f0;
  background: #dde4ff;
  padding: 8px 16px;
  font-size: 0.95rem;
  margin: 16px 0 18px;
  width: fit-content;
  border-radius: 50px;

  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0px;
  text-align: left;
}

.card-list .card-link .card-title {
  font-size: 1rem;
  color: black;

  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0px;
  text-align: left;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: #5372f0;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border: 2px solid #5372f0;
  transform: rotate(-45deg);
}

.card-list .card-link:hover .card-button {
  color: #ffff;
  background: #5372f0;
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: black;
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.card-wrapper .swiper-slide-button {
  color: black;
  margin-top: 35px;
}

@media screen and (max-width: 768) {
  .card-wrapper {
    margin: 0 10px 25px;
  }

  .card-wrapper .swiper-slide-button {
    display: none;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #fff; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: orange; /* color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #fff; /* color of the scroll thumb on hover */
}

/* ESTILO DEL TEXTO */
.logo,
.imagetext,
.title-seccion {
  font-style: normal;
  font-weight: 900;
  line-height: 1.11;
  font-family: Prompt, sans-serif;
  letter-spacing: 0px;
}

.imagetext p,
.imagetext h3,
.imagetext button,
.tittle-container,
.Event .box-galery,
.Event .location {
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  font-family: Prompt, sans-serif;
  letter-spacing: 0px;
}

.navbar a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0px;
  text-align: left;
  color: #29353e;
}


/* test */

