@import "/styles/login.css";
@import "/styles/contacts.css";
@import "/styles/mediaqueries.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
p {
  font-weight: 300;
}
a {
  text-decoration: none;
}

/* Estilos para el header */
.header {
  position: sticky;
  height: 80px;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 0 20px;
  transition: top 0.3s ease-in-out;
}

/* Logo */
.box-logo {
  background-color: orange;
  width: 205px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
}

.logo {
  font-size: 25px;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  cursor: auto;
}

/* Navbar general */
.navbar {
  display: flex;
  align-items: center;
  margin-left: 400px;
  padding-bottom: 5px;
}

.navbar a {
  font-size: 16px;
  color: black;
  font-weight: 500;
  text-decoration: none;
  margin-left: 20px;
  position: relative;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 170%;
  left: 0;
  width: 0;
  height: 4px;
  background: orange;
  transition: width 0.3s ease, top 0.3s ease;
}

.navbar a:hover::before {
  width: 100%;
}

.navbar a.active::before {
  width: 100%;
  top: 170%;
}

.navbar a.active {
  color: orange;
}

.nav-icon {
  height: 15px;
  width: 15px;
  margin-left: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
  pointer-events: auto;
}

.nav-icon:hover {
  color: orange;
}

/* Estilos para el dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 120%; /* Ajusta este valor según lo que necesites */
  left: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  width: 400px;
  z-index: 200;
  padding: 20px; /* Espacio dentro del dropdown */
}

/* Mostrar el menú al hacer hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover > a {
  color: orange;
}

/* Contenido del dropdown */
.dropdown-content {
  display: flex;
  padding: 10px;
}

/* Imagen en el dropdown */
.dropdown-image {
  width: 150px;
  height: auto;
  margin-right: 20px;
  padding: 10px;
}

/* Estilo para el texto del dropdown */
.dropdown-text {
  display: flex;
  flex-direction: column;
}

.dropdown-text h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  color: orange;
}

.dropdown-text a {
  color: black;
  text-decoration: none;
  margin-bottom: 5px;
}

.dropdown-text a:hover {
  color: orange;
  text-decoration: underline;
}

.dropdown-text a::before {
  content: none;
}

.dropdown > a::before {
  top: 210%;
}

/*Inicio con Imagen*/
.home {
  position: relative;
  height: 7vh;
  width: 100%;
}

.MainImage {
  position: relative;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
  height: 90vh;
  margin-top: -80px;
}

.MainImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagetext {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
}
.imagetext h3 {
  font-size: 30px;
  margin-bottom: 10px;
  color: rgb(254, 254, 254);
  margin-bottom: -1px;
}

.imagetext p {
  font-size: 20px;
  margin-bottom: 20px;
}

.imagetext h1 {
  font-size: 80px;
  margin-bottom: 10px;
  font-weight: 700;
  margin-bottom: 25px;
}

.mainButton {
  padding: 20px 30px;
  background-color: orange;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s ease, color 0.3s ease;
}

.mainButton:hover {
  background-color: #fff;
  color: orange;
}

/*Titulo de Secciones*/
.tittle-container {
  padding: 20px;
  text-align: center;
}

.title-seccion {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: black;
  font-weight: bolder;
  margin-top: 70px;
}

.tittle-container p {
  margin-top: 25px;
  margin-bottom: 25px;
}

.orange-line-wrapper {
  margin-top: 30px;
}

.orange-line {
  height: 6px;
  width: 50px;
  background-color: orange;
  margin: -3px auto;
  margin-bottom: 20px;
}

/* Seccion Gallery */
.Gallery {
  padding: 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  grid-gap: 20px;
  position: relative;
}

.Event {
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.Event img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.Event h3 {
  position: absolute;
  bottom: 60px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 100%;
  cursor: pointer;
  z-index: 2;
}

.Event .overlay {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.Event .box-galery {
  padding: 10px 20px;
  background-color: orange;
  color: white;
  position: absolute;
  left: 0;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.5s ease;
  transform: translateX(-100%);
  z-index: 3;
  width: 200px;
  /*align-items: center;
    justify-content: center; REVISAR SI ALINEAMOS TEXTO*/
}

.Event:hover .box-galery {
  transform: translateX(0);
}

.Event .box-galery p {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.Event .box-galery h3 {
  margin: 0;
  font-size: 25px;
  font-weight: 900;
}

.Event .location {
  position: absolute;
  bottom: 0;
  left: 20px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  z-index: 3;
}

.Event:nth-child(1) {
  grid-column: span 2;
}

.Event:nth-child(4) {
  grid-column: span 2;
}

/*Seccion de Carrosel*/
.image-list .image-item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
}

.image-list .image-item .carousel-image {
  width: 80%;
  height: 450px;
  object-fit: cover;
}

.container.swiper {
  width: 1500px;
  margin: 0 auto;
  padding: 20px 10px;
  overflow: hidden;
}

.container.swiper:hover {
  cursor: grabbing;
}

.swiper-wrapper {
  display: flex;
  gap: 10px;
}

.swiper-pagination-bullet {
  height: 15px;
  width: 13px;
  opacity: 0.5;
  background: black;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-slide-button {
  color: black;
  margin-top: 35px;
  padding: 0 10px;
}

.image-item h3 {
  position: absolute;
  bottom: 60px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: left;
  width: 100%;
  cursor: pointer;
  z-index: 2;
}

.image-item .overlay {
  position: absolute;
  bottom: 25px;
  left: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  box-sizing: border-box;
  z-index: 2;
}

.image-item .box-galery {
  padding: 2px 60px;
  background-color: orange;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 3;
  width: auto;
  opacity: 0;
  transform: translateY(20px);
}

.image-item:hover .box-galery {
  opacity: 1;
  transform: translateY(0);
}

.image-item .box-galery p {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}

.image-item .box-galery h4 {
  margin: 0;
  font-size: 25px;
  font-weight: 900;
}

.image-item .location {
  color: white;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  margin-top: 10px;
  z-index: 3;
  margin-left: 25px;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 7px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #fff; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: orange; /* color of the scroll thumb */
}

/*Barra de busqueda*/
.searchBox {
  opacity: 0;
  transform: translateX(20px);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 130%;
  background: #fff;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  pointer-events: none;
  transition: opacity 0.5s ease, transform 0.5s ease;
  display: flex;
}

.searchBox.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.searchBox input {
  width: 100%;
  border: none;
  outline: none;
  height: 55px;
  font-size: 1.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.searchBox i {
  cursor: pointer;
  margin-left: 5px;
}

/* Vista Event Detail */
.event-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%; /* Ajusta el ancho según lo necesites */
  margin: auto;
}

.imageEvent {
  display: flex;
  justify-content: center;
  width: 120%;
}

.event-img {
  width: 100%; /* La imagen ocupará el ancho completo */
  height: auto; /* Ajuste automático de altura para mantener la proporción */
}

/* Caja blanca para el contenido de texto y reserva */
.text-box {
  background-color: #fff; /* Fondo blanco */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100;
  text-align: lef;
  margin-top: 20px;
}

.Booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.mainButton {
  margin-top: 10px;
  padding: 10px 20px;
}

footer {
  background-color: #2a343d;
  width: 100%;
  margin-top: auto;
}
/* DIV FOOTER MAIN */
.Div__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
}

/* DIV FOOTER LEFT */

.Div__footer--left {
  display: grid;
  grid-template-rows: 0 100px 8em;
  gap: 2em;
  margin-left: 2em;
}

.Div__footer--left div:nth-child(1) {
  grid-row: 1;
}

.Div__footer--left div:nth-child(2) {
  grid-row: 3;
}

.Div__footer--left div:nth-child(3) {
  grid-row: 4;
}

.Text__left {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 1em;
}

.Div__iconos--left i {
  margin-bottom: 4em;
  font-size: 3em;
  margin-left: 0.8em;
  text-decoration: none;
  color: #ddd;
  justify-content: center;
  margin-top: 1em;
}

.Telefono {
  font-size: 60px;
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.Correo {
  font-size: 20px;
  text-decoration: none;
  color: #f5ab00;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-left: 1em;
}
.Direccion {
  color: #c6cacc;
  font-size: 16px;
  font-weight: 400;
  margin-top: 4em;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

/* DIV RIGHT*/
.Div__footer--right {
  display: grid;
  grid-template-rows: 100px 100px 1em;
  gap: 1em;
  margin-top: 3em;
  align-items: start;
}

.Div__footer--right--tel--correo {
  display: flex;
  flex-direction: column;
}

.Div__iconos--right i {
  margin-bottom: 4em;
  font-size: 3em;
  margin-left: 1em;
  text-decoration: none;
  color: #ddd;
  margin-top: 1.9em;
}

/* COPYRIHT */

.Copyright {
  display: flex;
  grid-column: 1/-1;
  background-color: #fff;
  color: #899096;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  text-align: end;
  justify-content: center;
}
.Copyright span {
  color: #f5b562;
  margin-right: 0.7em;
}
/* Hola */
.Copyright p {
  margin: 1em 0 1em 0;
}
